In [12]:
# from data import load_dataset, load_dataset_session
import numpy as np
import os
import pandas as pd
ROOT_DIR = os.getcwd()
DATA_DIR = os.path.join(ROOT_DIR, 'data/')

In [13]:
# Load users.dat file
users = pd.read_csv(os.path.join(DATA_DIR, 'users.dat'), 
                    sep='::', 
                    names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'],
                    engine='python')
users

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [14]:
# Load movies.dat file with latin-1 encoding to handle special characters
movies = pd.read_csv(os.path.join(DATA_DIR, 'movies.dat'), 
                    sep='::', 
                    names=['MovieID', 'Title', 'Genres'],
                    encoding='latin-1',
                    engine='python')
movies

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [15]:
# Load ratings.dat file
ratings = pd.read_csv(os.path.join(DATA_DIR, 'ratings.dat'), 
                        sep='::', 
                        names=['UserID', 'MovieID', 'Rating', 'Timestamp'],
                        engine='python')
ratings

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]